/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-qho8tta5zd] {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  display: block;
}
/* Header and footer  */
header[b-qho8tta5zd] {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, white 1%, whitesmoke 100%);
  box-shadow: 0px 0px 15px -10px black;
}
/* Centralize center */
main[b-qho8tta5zd] {
  width: 100%;
  max-width: 96rem;
  display: block;
  box-shadow: 0rem 0rem 1.5rem -10rem black;
  margin: 2rem auto;

  min-height: 100vh;
}
.container[b-qho8tta5zd] {
  max-width: 96rem;
  display: flex;
  gap: 5;
  flex-direction: column;
  padding: 3%;
  justify-content: center;
  text-align: center;
}
/* /Shared/NavMenu.razor.rz.scp.css */
nav[b-n3wkrwqw05] {
  width: 100%;
  max-width: 96rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0%;
}
nav strong[b-n3wkrwqw05] {
  max-width: 20rem;
  font-size: 2rem;
}
.navbar[b-n3wkrwqw05] {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  place-items: center center;
}
.navbar a[b-n3wkrwqw05] {
  width: 100%;
  text-decoration: none;
  color: black;
  padding-right: 1%;
}
.navbar a:hover[b-n3wkrwqw05] {
  color: gray;
}
/* /Shared/TestComponent.razor.rz.scp.css */
.testComp[b-nw1yvaooo3] {
  background: linear-gradient(90deg, gray 1%, whitesmoke 100%);
  width: 100%;
  background-color: red;
 
}
span a[b-nw1yvaooo3] {
  color: blue;
}
.testComp span[b-nw1yvaooo3]{
  font-size:2rem;
} 
