@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Test</PageTitle>

<h1>Json exempel från Mozilla</h1>


@if (testsList == null)
{
    <p><em>Ett ogonblick...</em></p>
}
else
{
    @* Table to print Json data *@
    <table class="table">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Ålder</th>
                <th>Hemlig identitet </th>
            </tr>
        </thead>
        <tbody>
            @* Loop through the array *@
            @foreach (var testList in testsList)
            {
                <tr>
                    <td>@testList.Name</td>
                    <td>@testList.Age</td>
                    <td>@testList.SecretIdentity</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    @* Fetch Data from JSON file  *@
    private Test[]? testsList;

    protected override async Task OnInitializedAsync()
    {
        testsList = await Http.GetFromJsonAsync<Test[]>("sample-data/test.json");
    }

@* Create a class to get and set the JSON data *@
    public class Test
    {
        public String? Name { get; set; }

        public int Age { get; set; }

        public string? SecretIdentity{ get; set; }
    }
}
