.page[b-qho8tta5zd] {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  display: block;
}
/* Header and footer  */
header[b-qho8tta5zd] {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, white 1%, whitesmoke 100%);
  box-shadow: 0px 0px 15px -10px black;
}
/* Centralize center */
main[b-qho8tta5zd] {
  width: 100%;
  max-width: 96rem;
  display: block;
  box-shadow: 0rem 0rem 1.5rem -10rem black;
  margin: 2rem auto;

  min-height: 100vh;
}
.container[b-qho8tta5zd] {
  max-width: 96rem;
  display: flex;
  gap: 5;
  flex-direction: column;
  padding: 3%;
  justify-content: center;
  text-align: center;
}
