nav[b-n3wkrwqw05] {
  width: 100%;
  max-width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a[b-n3wkrwqw05] {
  max-width: 96rem;
  text-decoration: none;
  color: black;
  font-size:1.4rem;
  padding:1rem 0%;
}
nav a:hover[b-n3wkrwqw05] {
  color: gray;
}
