.testComp[b-nw1yvaooo3] {
  background: linear-gradient(90deg, gray 1%, whitesmoke 100%);
  width: 100%;
  background-color: red;
 
}
span a[b-nw1yvaooo3] {
  color: blue;
}
.testComp span[b-nw1yvaooo3]{
  font-size:2rem;
} 