@inherits LayoutComponentBase

<div class="page">
    <header class="sidebar">
        <NavMenu />
    </header>

    <main>
        <article class="container">
            @Body
        </article>
    </main>
    <footer>
        <strong>Nick Kushkbaghi 2022</strong>
    </footer>
</div>
