<nav>
    <strong>MOMENT 1.3</strong>
    <ul class="navbar">
        <li>
             <a href="">Hem</a>
        </li>
        <li>
            <a href="convertor">Konvertor</a>
        </li>
        <li>
            <a href="fetchdata">Data</a>
        </li>
    </ul>

</nav>

  

