<nav>
    <strong>MOMENT 1.3</strong>
    <ul class="navbar">
        <li>
            <a href="">Hem</a>
        </li>
        <li>
            <a href="convertor">Konvertor</a>
        </li>
        <li>
            <a href="fetchdata">Data</a>
        </li>
    </ul>

</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
