<nav>
    <a href="">Hem</a>
    <a href="convertor">Konvertor</a>
    <a href="fetchdata">Fetch Data</a>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
